.job-name{
  font-weight: bold;
  font-size: 18px;
  padding: 12px 12px 4px 12px;
}

.job-image{
  width: 100%;
  max-width: 370px;
}

.card-container{
  width: calc(100% - 32px);
  margin-top: 16px;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 50px;
}

.company-name{
  font-size: 14px;
  padding: 4px 12px;
}

.job-details-section{
  padding: 12px;
}

.description{
  color: rgb(77, 77, 77);
}

.tiny-note{
  font-size: 10px;
}

.next-job-icon{
  cursor: pointer;
}

.tiny-title{
  font-size: 14px;
  font-weight: bold;
}

.divider{
  margin: 12px 0;
}

.accept-button, .reject-button{
  height: 48px;
  font-size: 16px;
  width: 100%;
  max-width: 140px;
  font-weight: lighter;
}

.reject-button{
  border-color: grey;
  color: grey;
}

.accept-button{
  background-color: black;
  color: white;
}

.action-section{
  height: 72px;
  padding: 16px;
}

.scroll-section{
  max-height: calc(100vh - 72px);
  overflow: scroll;
}

.job-basic-info-section{
  background-color: rgb(0, 230, 184);
  padding: 12px;
  .title{
    font-size: 10px;
    font-weight: bold;
  }

  .dollar-sign{
    color: white;
    font-weight: bold;
    font-size: 14px;
  };

  .content{
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
  }




}
